body,html{
	height:100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#map-column{
	height:100%;
}

#google-map{
	top: 0;
	left: 0;
	position:absolute;
	float:left;
	z-index: -999;
	height:100%;
	width:100%;
}